---
import Layout from '../layouts/Layout.astro'
import SimulatorDashboard from '../components/SimulatorDashboard'
---

<Layout title='Simulador Wi-Fi Indoor'>
	<header class='mb-4'>
		<h1 class='text-3xl font-bold text-blue-600 text-center'>
			Indoors Propagation Simulator
		</h1>
	</header>

	<SimulatorDashboard client:load />
</Layout>
